<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Intentionally no INTERNET permission until the canonical corporate session adapter is composed. -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/eay_one_launcher"
        android:roundIcon="@drawable/eay_one_launcher"
        android:label="@string/eay_one_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EayOne">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
